<mat-nav-list>
  <div class="links">
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['alpha']">alpha: AutoComplete</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['beta']">beta</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['delta']">delta</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['gamma']">gamma</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['']">Epsilon</a>
  </div>
</mat-nav-list>
