<mat-nav-list>
  <div class="links">
    <!-- FIXME  routerLink not work -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="auth">alpha: AutoComplete</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="beta">beta</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">delta</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">gamma</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Epsilon</a>
  </div>
</mat-nav-list>
